<p>Author Works</p>

<div *ngFor="let authorObj of authorList">
  <label for=""
    >{{ authorObj.name }}, Is alive: {{ authorObj.isAlive }}, ID:
    {{ authorObj.authorId }}</label
  >
  <button (click)="deleteAuthor(authorObj.authorId)">Slet</button>
</div>

<!-- <button (click)="getAuthorById(1)">Get an Author</button> -->

<form [formGroup]="authorForm">
  <label for="">name:</label> <input type="text" formControlName="name" />
  <!-- <small
    *ngIf="personForm.get('name').invalid && personForm.get('name').touched"
    >Name is required</small -->
  ><br />
  <label for="">password:</label>
  <input type="text" formControlName="password" />
  <!-- <small
    *ngIf="personForm.get('mail').invalid && personForm.get('mail').touched"
    >Email is required</small -->
  ><br />
  <label for="isAlive">is Alive:</label>
  <input
    type="checkbox"
    formControlName="isAlive"
    (change)="onToggle($event)"
  />
  <!-- <small
    *ngIf="personForm.get('phone').invalid && personForm.get('phone').touched"
    >Phone is required</small -->
  ><br />
  <button type="submit" (click)="postAuthor()">Create Author</button>
</form>

<input name="id" type="number" #id />
<button (click)="getAuthorById(id.value)">Get an Author</button>
